spring:
    datasource:
        driver-class-name: org.h2.Driver
        url: jdbc:h2:mem:localhost
        username: admin
        password: admin
    jpa:
        show-sql: true
        hibernate:
            ddl-auto: create-drop
    h2:
        console:
            enabled: true
            path: /console